body {
    background-color: #FAF6E9;
    padding-top: 55px;
    overflow-x: hidden;
  }

  #nav-img {
    padding: 2px;
    margin-left: 20px;
  }

  .nav-link {
    color: white;
    margin-left: 10px;
  }

  #home {
    background-image: url('img/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding-left: 5%;
  }

  #title-of-home {
    padding-right: 5%;
    font-size: 2.5rem;
    font-weight: bold;
    text-shadow:
        -2px -2px 2px black,
        2px -2px 2px black,
        -2px 2px 2px black,
        2px 2px 2px black;
        font-family: "Times New Roman", Times, serif;
  }
  #subtitle-of-home {
    padding-right: 5%;
    padding-bottom: 20%;
    font-size: 85%;
    font-weight: bold;
    text-shadow:
        -2px -2px 2px black,
        2px -2px 2px black,
        -2px 2px 2px black,
        2px 2px 2px black;
        font-family: "Lucida Console", "Courier New", monospace;
  }

  .home2 {
    font-family: "Times New Roman", Times, serif;
  }

  #info {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

  #infoimg {
    width: 350px;
    height: 225px;

  }



  #infotitle {
    padding-top: 5%;
  }

  #parta {
    padding-top: 5%;
  }
  #partainfo {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

  #partaimg2 {
    width: 500px;
    height: 500px;
  }

  #partb {
    padding-top: 5%;
  }
  #partbinfo {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

  #aframe {
    padding-top: 5%;
  }

  #aframedes {
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

  #startbut:hover {
    background-color: #555;

  }

  #slide21:hover {
    background-color: grey;
  }

  #slide22:hover {
    background-color: grey;
  }

  #slide11:hover {
    background-color: grey;
  }

  #slide12:hover {
    background-color: grey;
  }

  #intro {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  font-size: 2em;
  animation: fadeOut 1s ease 2s forwards;
}



@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
